**/.DS_Store
public/
docs/
node_modules/
docker-compose.yml
!ui/docker-containers/docker-compose.yml
package-lock.json
package.json
!ui/frontend/package.json
!ui/frontend/public/
/venv
# Created by .ignore support plugin (hsz.mobi)
**/.DS_Store
*~
**/.idea
**/__pycache__
**/*.pyc
**/.terraform.lock.hcl
**/*.lic
**/*.zip
**/terraform.tfvars
**/.terraform.tfstate.lock.info
**/terraform.tfstate
**/terraform.tfstate.backup
**/venv
**/site-packages
\#*#
*.swp
*.pyc
*.lic
debug.log
backend.log
frontend.log
logs/*
!logs/.gitkeep
.repo_conf/*.retry
**/.idea
**/.terraform
**/__pycache__
ncc-service-account.json
fortihugorunner
fortihugorunner-*
network-diagram.svg
spreadsheet/
stress_test.sh
stress_test_*.sh
stress_tests/